.joke_container {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  min-width: 20rem;
  border-radius: 14px;
}
.joke_header {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.85rem;
}
.joke_user_container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.joke_inner > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
}
.joke_inner {
  display: flex;
  gap: 0.75rem;
}
.joke_user_info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.joke_username {
  font-size: 14px;
}
.joke_name {
  font-size: 17px;
  gap: 0.2rem;
  display: flex;
  align-items: center;
}

.joke_analytics {
  margin-top: 20px;
}

.joke_analytics > p {
  font-size: 12px;
}
.joke_analytics_iconContainer {
  margin-top: 15px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.joke_analytics_icon {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.joke_analytics_icon p:nth-child(1) {
  font-size: 13px;
}
.joke_analytics_icon p:nth-child(2) {
  font-size: 12px;
}
.joke {
  max-width: 700px;
  padding: 1rem 0 1rem 0;
}
.joke-loading {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
